.container {
  min-height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: #171717;
  color: #fff;
  font-family: "DotGothic16", sans-serif;
}
